.powerby, ol, li, p, h1 {
	color: white;
  text-shadow: 2px 2px 4px #000000;
}
.powerby{
	text-align:right;
}
.bodykozep {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: url('/img/bg.png');
  background-position: center;
  background-size:cover;
  transition: background 3s;
}
.box {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(-20deg) rotateY(20deg) translate3d(-50px, -75px, 150px)
    scale3d(0.7, 0.7, 0.7);
  transition: 3s ease-out;
}
.box:hover {
  transform: rotateX(-380deg) rotateY(340deg) translate3d(0px, 0px, 0px)
    scale3d(0.8, 0.8, 0.8);
}
.kocka {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
}
.kocka .oldal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9); 
 
}
.kocka .oldal .container {
  display: flex;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.kocka .oldal.egy {
  transform-origin: center top;
  transform: rotateX(0deg) translate3d(0px, 0px, 150px);
  background: url('/img/1.png'), white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 78%;

}
.kocka .oldal.ketto {
  transform-origin: bottom;
  transform: rotateX(270deg) translate3d(0px, 150px, 0px);
    background: url('/img/2.png'), white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 78%;
  object-fit: cover; 

}
.kocka .oldal.harom {
  transform-origin: top;
  transform: rotateX(90deg) translate3d(0px, -150px, 0px);
    background: url('/img/3.png'), white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 78%;
  object-fit: cover; 

}
.kocka .oldal.negy {
  transform-origin: right;
  transform: rotateY(90deg) translate3d(150px, 0px, 0px);
  background: url('/img/4.png'), white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 78%;
  object-fit: cover; 
}
.kocka .oldal.ot {
  transform-origin: left;
  transform: rotateY(-90deg) translate3d(-150px, 0px, 0px);
  background: url('/img/5.png'), white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 78%;
  object-fit: cover; 
}
.kocka .oldal.hat {
  transform-origin: center center;
  transform: rotateX(-180deg) translate3d(0px, 0px, 150px);
    background: url('/img/6.png'), white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 78%;
  object-fit: cover; 
}
.kocka .oldal.egy .container  {
  width: 70px;
  height: 70px;
}
.kocka .oldal.ketto .container  {
  width: 60px;
  height: 60px;
}
.kocka .oldal.harom .container  {
  width: 50px;
  height: 50px;
}
.kocka .oldal.harom .container {
  transform: rotate(45deg);
}
.kocka .oldal.ot .container:first-child {
  transform: translateY(20px);
}
.kocka .oldal.ot .container:last-child {
  transform: translateY(-20px);
}
i {
  position: absolute;
  left: 15%;
  transform: translateX(-50%);
  bottom: 3vw;
  color: #0000000;
  font-size: 35px;
  background: white;
  border-radius: 10px;
  border: 0px solid white;
  padding: 25px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
i:hover {
  background: #fff;
  color: #000000;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}
